body{
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



#box{
    height: 100px;
    width: 100px;
    background-color: rgb(76, 76, 51);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}